# This file defines a simple workflow that will be used by GitHub Actions

name: looop-actions

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Setup Node to be used in later actions
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      
      # Run npm ci
      - name: Run npm ci
        run: npm ci
      
      # Linting
      - name: Use ESLint to perform linting
        run: npm run lint
      
      # Tests
      - name: Use Jest to run tests
        run: npm run test

      # If you wanted to run multiple commands at once you could like so:
      # - name: Run a multi-line script
      #   run: |
      #     echo Add other actions to build,
      #     echo test, and deploy your project.
